.first-heading {
    border: 2px solid gray;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: green; 
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    
}
.head{
   
    width: 390px;
    height: 86px;
    text-align: center;
    margin: 0 auto;
    
}

.p1Score{
    margin-right: 15px;
}
form input{
    padding: 5px;
}
.sub {
    padding: 5px;
    font-size: 16px;
    background-color: #60615d;
    color: white;
    border-radius: 4px;
}
.btn{
  
   margin-top: 20px;
}
.btn button{
   
    padding: 11px;
    font-size: 15px;
}